#barra{
  background-color: #061247;
  min-height: 8rem;
}

#logo_sitio{
  height: 8rem;
  margin-left: 2.5%;
  margin-top: 0.5%;
}

#barraNavegacion{
  background-color: #B2C100;
}
.navbar-brand{
  color: white;
}

#principal{
  background-color: #B2C100;
  min-height: 50rem;
}
body{
  background-color: #000000;
  color: white;
}

#cajaComentar{
  padding: 5%;
}
#beatles{
  width: 100%;
}

#foto_perfil{
  width: 120px;
}
