body{
  background-color: #BFF9FC ;
}

.barraDeNavegacion{
  background-color: #0A4B7E  ;
  width: 100%;
}

.barraDeNavegacion a{
  color: white;

}

.barraDeNavegacion a:hover{
  color: black;

}

#barra{
  background-color: #000C72;
  width: 100%;
  margin-top: 0px;
}

#logo{
  max-height: 10rem;
}

#prueba{
  min-height: 50rem;
  background-color: #68ABDF ;
}

#prueba2{
  min-height: 35rem; 
  background-color: #08C5CE;
}

#prueba3{
  min-height: 35rem;
  background-color: #68ABDF ;
}

#foto_perfil{
  width: 90px;
}

.foto{
  width: 100%;
}
